<mat-tab-group animationDuration="2000ms">
    <mat-tab label="Account Details">
        <div class="container">
            <div class="row justify-content-center">
                <h1>Hello Joao</h1>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Password</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>{{user?.name}}</td>
                        <td>{{user?.email}}</td>
                        <td>*********</td>
                        <td><button type="button" class="btn btn-warning">Change Password</button></td>
                    </tr>
                    </tbody>
                </table>
                <button type="button" class="btn btn-danger" (click)="logout()">Logout</button>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Order History">
        <div class="container">
            <div class="row justify-content-center">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">Product</th>
                        <th scope="col">Total</th>
                        <th scope="col">Date</th>
                        <th scope="col">Ship To</th>
                        <th scope="col">Payment Method</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let order of orderHistory">
                        <td>order date</td>
                        <td>product name</td>
                        <td>product price / total</td>
                        <td>{{order.address}}</td>
                        <td>{{order.address}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </mat-tab>
</mat-tab-group>
