<nav class="navbar navbar-expand-lg" style="background-color: black">
    <div class="container-fluid">
      <div class="d-flex flex-column">
        <img src="assets/img/logo.JPG" alt="" style="width: 250px;">
      </div>    
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 justify-content-center">
          <li class="nav-item">
            <a class="white-color" routerLink="/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="white-color" routerLink="/home">About Us</a>
          </li>
          <li class="nav-item">
            <a class="white-color" routerLink="/trips">Travel</a>
          </li>
          <li class="nav-item">
            <a class="white-color" routerLink="/flowers">Courses</a>
          </li>
          <li class="nav-item">
            <a class="white-color" routerLink="/flowers">Books</a>
          </li>
          <li class="nav-item">
            <a class="white-color" routerLink="/flowers">Items</a>
          </li>
        </ul>      
        <div class="row justify-content-center">
          <div class="col-sm-6 d-flex align-items-center justify-content-center text-center" style="margin-top: 10px;">
            <button class="headerBtn">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"></path><path fill="currentColor" d="M5 13c0-5.088 2.903-9.436 7-11.182C16.097 3.564 19 7.912 19 13c0 .823-.076 1.626-.22 2.403l1.94 1.832a.5.5 0 0 1 .095.603l-2.495 4.575a.5.5 0 0 1-.793.114l-2.234-2.234a1 1 0 0 0-.707-.293H9.414a1 1 0 0 0-.707.293l-2.234 2.234a.5.5 0 0 1-.793-.114l-2.495-4.575a.5.5 0 0 1 .095-.603l1.94-1.832C5.077 14.626 5 13.823 5 13zm1.476 6.696l.817-.817A3 3 0 0 1 9.414 18h5.172a3 3 0 0 1 2.121.879l.817.817.982-1.8-1.1-1.04a2 2 0 0 1-.593-1.82c.124-.664.187-1.345.187-2.036 0-3.87-1.995-7.3-5-8.96C8.995 5.7 7 9.13 7 13c0 .691.063 1.372.187 2.037a2 2 0 0 1-.593 1.82l-1.1 1.039.982 1.8zM12 13a2 2 0 1 1 0-4 2 2 0 0 1 0 4z"></path></svg>
              <span class="headerBtnSpan">Account</span>
            </button>
          </div>
          <div class="col-sm-6 d-flex align-items-center justify-content-center text-center" style="margin-top: 10px;">
            <button class="headerBtn">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-cart3" viewBox="0 0 16 16">
                <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
              </svg>
              <span class="headerBtnSpan">Cart</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </nav>
  
  