
<form class="form">
    <div class="form-title"><span>Sign in to your</span></div>
    <div class="title-2"><span>SPACE</span></div>
    <div class="input-container d-flex justify-content-center">
        <input class="input-mail" type="email" placeholder="Enter email">
        <span></span>
    </div>
  
    <section class="bg-stars">
        <span class="star"></span>
        <span class="star"></span>
        <span class="star"></span>
        <span class="star"></span>
    </section>
  
    <div class="input-container d-flex justify-content-center">
        <input class="input-pwd" type="password" placeholder="Enter password">
    </div>
    <div class="d-flex justify-content-center">
        <button type="submit" class="submit">
            <span class="sign-text">Sign in</span>
        </button>
    </div>
    <p class="signup-link">
        No account?
        <button type="button" class="btn btn-primary" (click)="isClicked()">Sign-up</button>
    </p>
</form>
  
    