
.headerBtn {
    display: flex;
    align-items: center;
    font-family: inherit;
    font-weight: 500;
    font-size: 18px;
    padding: 0.8em 1.3em 0.8em 0.9em;
    color: white;
    background: #ad5389;
    background: linear-gradient(to right, #8a328e, #8a328e, #8a328e);
    border: none;
    letter-spacing: 0.05em;
    border-radius: 16px;
  }
  
  button svg {
    margin-right: 10px;
    transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
  }
  
  .headerBtnSpan {
    transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
  }
  
  .headerBtn:hover svg {
    transform: translateX(5px) rotate(40deg);
  }
  
  button:hover span {
    transform: translateX(7px);
  }

.buttonQty {
    width: 30px;
    height: 30px;
    background-color: black;
    color: white;
    border-radius: 50%;
    cursor: pointer;
    transition-duration: .3s;
    border: none;
  }
  
  .buttonQtyText {
    font-size: 25px;
    line-height: 1;
    margin: 0;
    justify-content: center;
    align-items: center;
  }
  
  .quantity {
    font-size: 20px;
    color: black;
    margin: 0 20px;
  }
  
  
  .buttonQty:hover {
    background-color: rgb(138, 50, 142);
  }
  
  .buttonQty:active {
    transform: scale(0.8);
  }

  //===
  .checkoutBtn {
    position: relative;
    align-items: center;
    padding: 12px 35px;
    background: #ad5389;
    background: linear-gradient(to right, #8a328e, #8a328e, #8a328e);
    font-size: 17px;
    font-weight: 500;
    color: white;
    border: none;
    border-radius: 8px;
  }

  .star-5 {
    position: absolute;
    color: white;
    top: 50%;
    left: 5%;
    transform: translateY(-50%); 
    width: 15px;
    height: auto;
    z-index: 2;
    transition: all 1s ease-in-out;
    margin-right: 10px;
  }
  
  .checkoutBtn:hover {
    background: #ad5389;
    background: linear-gradient(to right, #8a328e, #8a328e, #8a328e);
  }
  
  .checkoutBtn:hover .star-5 {
    transform: translateY(-220%); /* Move the star vertically up */
    width: 25px;
    height: auto;
    z-index: 2;
  }
  
  .fil0 {
    fill: #FFFDEF;
  }
  
  